.imagen{
    background-image: cover;
}

button{
    position: absolute;
    background-color: black;
    padding: 10px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

banner{
    height: 8889px;
    width: max-content;
}