body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

button{

    position: absolute;
    background-color: black;
    padding: 10px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.img{
    position: cover;
}