body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
    background-size: 1423px 850px;
    background-position: center;
}

.contenedor{
    background-color: lavender;
    display: center;
    text-align: center;
    height: 500px;
    width: 600px;
    box-shadow: 0 0 20px black;
    margin: auto;
    margin-top: 30px;

}

.contenedor2{
text-align: center;


}

.inputs{
display: center;

}

.box{
    outline: none;
    border-color: deepskyblue;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    margin: 15px 15px;
    margin-bottom: 20px;
    background-color: gainsboro;
    width: 300px;
    height: 40px;
}


.submit{
    background-color: black;
    padding: 5px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover::before {
    background-color: grey;
}

.contenedor3{
    background-color: white;
    box-shadow: 0 0 20px black;
    text-align: left;
    display: flex;
    justify-content: right;
    gap: 635px;
    align-items: center;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
  text-decoration: none;
  font-size: 31px;
  color: black;
  font-weight: 900;
  position: relative;
}

nav a:hover{
    color:navajowhite;
}

button{

    position: center;
    background-color: black;
    padding: 10px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}
    

    .contenedor4{
        background-image: cover;
        border: solid;
        margin: 15px 15px;
        margin-bottom: 20px;
        background-color: gainsboro;
        width: 270px;
        height: 442px;
        text-align: left;
        
    }

    .contenedor5{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-align: center;
    }

    .banner{
   position: absolute;
  

   
    }

    .logo{
        position: relative;
  z-index: 1;
    }

    @media (max-width: 768px) {
        html {
            font-size: 55%;
        }
    
    }