body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ghostwhite;   
}

.contenedor{
    background-color: lavender;
    display: center;
    text-align: center;
    height: 500px;
    width: 600px;
    box-shadow: 0 0 20px black;
    margin: auto;
    margin-top: 30px;

}

.contenedor2{
text-align: center;


}

.inputs{
display: center;

}

.box{
    outline: none;
    border-color: deepskyblue;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    margin: 15px 15px;
    margin-bottom: 20px;
    background-color: gainsboro;
    width: 300px;
    height: 40px;
}


.submit{
    background-color: black;
    padding: 5px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover::before {
    background-color: grey;
}

.contenedor3{
    background-color: ghostwhite;
    box-shadow: 0 0 20px black;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 840px;
    align-items: center;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: 900;
}

nav a:hover{
    color:navajowhite;
}

button{
    margin-top: 3px;
    background-color: black;
    padding: 5px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;}