.imagen{
    background-image: cover;
}

.boton1{
    width: 700px;
    height: 70px;
    position: absolute; 
    bottom: 100px; 
    right: 30px;
    padding: 10px 20px;
    background-color: ghostwhite(0, 123, 255, 0.8); 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}